body {
    color:#1c1c1c;
}

body.noscroll {
    overflow: hidden;
}

/* Container Style */

.container {
    display: block;
    position: relative;
    margin: 0 auto 0 auto;
    min-width: 1200px;
    width: 1200px;
}

/* Space Fix */

.spc-fix {
    position: relative;
    z-index: 99;
}

/* Header Style */

#top-header {
    background: #38b9be url("../img/head/desk.png") no-repeat center bottom;
    min-height: 710px;
    min-width: 1200px;
    overflow: hidden;
    position: relative;
}

h1,
#top-header h2, #top-header .cv-link {
    color: #FFF;
    left: 50%;
    margin-top: 250px;
    text-align: center;
    z-index: 98;
}

h1 {
    letter-spacing: 15px;
    color: #FFF;
    font-size: 35px;
    height: 96px;
    line-height: 96px;
    margin: 250px 0 0 -293.5px;
    width: 587px;
    word-spacing: 70px;
}

#top-header h2, #top-header .cv-link {
    font-size: 18px;
    margin: 365px -120px;
    letter-spacing: 2px;
    opacity: 0.85;
    width: 230px;
}

#top-header .cv-link {
    font-size:14px;
    margin-top: 400px;
    text-decoration: none;
}

#top-header .cv-link:hover {
    text-decoration: underline;
}

h1 span {
    background: transparent url("../img/head/hex.png") no-repeat;
    left: 0;
    font-size: 0;
    margin-left: 298px;
    width: 100px;
    height: 100px;
}

#main-nav,
#top-header img.pos-ab {
    top: 0;
    z-index: 98;
}

#main-nav {
    margin-left:0px;
}

#main-nav ul {
    list-style-type: none;
    margin: 25px 0 0 60px;
}

#main-nav li {
    display: inline-block;
}

#main-nav li:after {
    color: #FFF;
    content: "/";
    font-size: 14px;
    opacity: 0.68;
}

#main-nav li:last-child:after {
    content: "";
}

#main-nav a {
    color: #FFF;
    font-size: 14px;
    letter-spacing: 1px;
    opacity: 0.7;
    padding: 8px 7px;
    text-decoration: none;
}

#main-nav a:hover,
#s-icons li a:hover {
    opacity: 1;
}

#ls {
    background: transparent url('../img/head/ls-on.png');
    left: 50%;
    margin-left: -175.5px;
    top: 0;
    width: 351px;
    height: 383px;
    z-index: 97;
}

#ls-switch {
    background: transparent url('../img/head/ls-pulley.png');
    left: 50%;
    margin: -220px 0 0 250px;
    transition: 0.09 ease-in-out;
    width: 80px;
    height: 353px;
    z-index: 99;
}

#ls-shade {
    background: rgba(0, 0, 0, 0.07);
    pointer-events: none;
    width: 100%;
    height: 100%;
    z-index: 98;
}

.mp:hover {
    cursor: pointer;
}


/* Social Icons */

#s-icons {
    font-size: 0;
    margin-top: 20px;
    right: 0;
}

#s-icons li {
    display: inline-block;
    margin: 0;
}

#s-icons li a {
    background: url('../img/head/s-icons.png') no-repeat 0 0;
    background-size:50px 23px;
    display: block;
    margin-left:2px;
    opacity: 0.8;
    width: 25px;
    height: 100px;
}

#s-icons li.email a {
    background-position: -25px 0;
}


/* Base Section */

.b-sect {
    min-width: 1200px;
}


/* Info */

h3 {
    font-size: 40px;
    font-weight: bold;
}

#info {
    box-shadow: 0px -15px 60px rgba(0, 0, 0, 0.25);
}

#info h3 {
    margin-bottom: 50px;
    text-align: center;
}

#info .b-l {
    font-size:20px;
}

#info section .spc {
    padding-bottom: 35px;
}

#info section {
    display: inline-table;
    padding-top: 70px;
    margin-bottom: 70px;
    width: 32%;
    position: relative;
    height: 300px;
}

#design h3 {
    font-family: 'Pacifico', cursive;
}

#develop h3 {
    font-family: 'Source Code Pro', monospace;
}

#debug h3 {
    font-family: 'Roboto Condensed', sans-serif;
    letter-spacing: 2px;
}

#info section p {
    font-size: 14px;
    letter-spacing: 1.3px;
    line-height: 35px;
    margin: 0 auto;
    text-align: center;
    width: 90%;
}


/* About */

#about {
    background: #38b9be;
    box-shadow: inset 0px 20px 60px rgba(0, 0, 0, 0.35);
    color: #FFF;
    z-index: 98;
}

#about .container {
    overflow: hidden;
    padding: 60px 0 70px 0;
}

#about h2 {
    font-size: 55px;
    letter-spacing: 2px;
    margin: -65px 125px;
    line-height: 65px;
    right: 0;
    top: 50%;
    text-align: center;
    width: 200px;
    height: 130px;
}

#about p {
    font-size: 16px;
    letter-spacing: 1.5px;
    line-height: 29px;
    margin: 20px 0 0 40px;
    width: 700px;
}


/* My Work */

#my-work {
    box-shadow: 0px -20px 60px rgba(0, 0, 0, 0.25);
    z-index: 99;
}

#my-work h2 {
    font-size: 55px;
    line-height: 70px;
    margin: -130px 0 0 -300px;
    padding: 0;
    text-align: center;
    left: 50%;
    top: 50%;
    width: 150px;
}

#my-work .sub-text {
    line-height: 30px;
    margin: 360px 0 0 250px;
    text-align: center;
    width: 250px;
}

#my-work .container {
    padding: 100px 0;
}

#my-work .work-container {
    background: #FFF;
    border: 2px solid rgba(56, 184, 189, 1);
    display: block;
    margin-left: 700px;
    right: 0;
    width: 350px;
    height: 700px;
}

#my-work .work-piece {
    position: relative;
    width: 100%;
    height: 33.33%;
}

#my-work h3 {
    font-size: 0;
    padding-top: 110px;
    text-align: center;
}

#my-work .work-piece img {
    position: absolute;
    top: 0;
    width: 350px;
    z-index: 98;
}

#my-work .work-piece p {
    color: #FFF;
    font-size: 10px;
    line-height: 17.5px;
    margin-top:15px;
    padding: 10px 50px;
    position: relative;
    text-align: center;
    z-index: 99;
    -webkit-text-stroke-width: 0.1px;
    -webkit-text-stroke-color: black;
}

#my-work #Chronos p, #my-work #search-company p {
    color: #000;
    -webkit-text-stroke-width: 0px;
}

#my-work .b {
    background: #FFF;
}

.link-overlay {
    display: block;
    font-size: 0px;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
}


/* My Technologies */

#my-technologies {
    background: #38b9be;
    box-shadow: inset 0px 22px 60px rgba(0, 0, 0, 0.35);
    color: #FFF;
    z-index: 98;
    padding: 0 0 100px 0;
}

#my-technologies h2 {
    font-size: 55px;
    padding: 100px 0 80px 0;
    text-align: center;
}

#my-tech-container {
    margin: 0 auto;
    width: 900px;
    height: 500px;
}

#my-tech-container .tech-bar-cont {
    display: inline-block;
    width: 96px;
    height: 100%;
}

#my-tech-container .tech-bar-cont h5 {
    bottom: 0;
    text-align: center;
    width: 100%;
}

#my-tech-container .tech-bar-cont p {
    display: none;
    position: absolute;
    text-align: center;
    width: 100%;
}

#my-tech-container .tech-bar {
    background: #FFF;
    border-radius: 2px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 1);
    left: 50%;
    overflow: hidden;
    margin: 15px 0 0 -12.50px;
    width: 25px;
    height: 450px;
}

#my-tech-container .tech-bar-fill {
    background: #a4b8b9;
    bottom: 0;
    width: 100%;
    height: 0%;
}


/* Contact Me */

#contact-me {
    background: #FFFFFF;
    box-shadow: 10px -20px 60px rgba(0, 0, 0, 0.35);
    color: #38b9be;
    z-index: 98;
    padding: 0 0 100px 0;
}

#contact-me h4 {
    font-size: 55px;
    padding: 60px 0 30px;
    text-align: center;
}

#contact-me form {
    left: 50%;
    margin: 40px -310px 0;
    width: 600px;
}

#contact-me p {
    padding-top: 20px;
    text-align: center;
}

#contact-me label {
    display: block;
    font-size: 0;
    margin: 20px 0 0;
}

#contact-me input, #contact-me textarea {
    background: #38b9be;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
    border: 0;
    color: #FFF;
    font-family:inherit;
    font-size: 14px;
    padding: 10px 10px;
    width: 100%;
}

#contact-me input {
    height: 30px;
}

#contact-me textarea {
    resize: vertical;
    height: 200px;
}

#contact-me .btn {
    background: rgba(56, 185, 190, 0.5);
    cursor: pointer;
    display: block;
    border-radius: 4px;
    margin: 30px 0 0 0;
    transition: background 0.5s ease;
    width: 620px;
    height: 60px;
}

#contact-me .btn:hover {
    background: rgba(56, 185, 190, 1);
}


/* Changing Form Placeholder Color */

::-webkit-input-placeholder {
    color: #FFF;
}

:-ms-input-placeholder {
    color: #FFF;
}

::-moz-placeholder {
    color: #FFF;
    opacity: 1;
}

:-moz-placeholder {
    color: #FFF;
    opacity: 1;
}


/* A Popup */

#aPopUpOverlay {
    background: rgba(0, 0, 0, 0.7);
    margin: -99999px -99999px;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 999;
}

#aPopUpOverlay.set {
    margin:0;
}

#aPopUpOverlay img {
    margin:-20px 0 0 -20px;
    left: 50%;
    top: 50%;
    width: 40px;
}

#aPopUp {
    background: #FFF;
    border: 1px solid #000;
    border-radius: 3px;
    left: 50%;
    top: 50%;
    margin: -99999px -99999px;
    overflow: hidden;
    width: 650px;
    height: 550px;
    z-index: 1000;
}

#aPopUp.change {
    display: block;
    margin: -275px 0px 0px -325px;
}

#aPopUpClose {
    background: #38b9be;
    border: 1px solid #38b9be;
    border-radius: 1px 3px 1px 3px;
    color: #FFF;
    cursor: pointer;
    outline: none;
    right: 0;
    width: 30px;
    height: 30px;
}

#aPopUp div.pos-ab {
    width: 50%;
}

#aPopUpLeft {
    background: #38b9b3;
    font-size: 16px;
    line-height: 23px;
    height: 100%;
}

#aPopUpLeft h3 {
    color: #FFF;
    font-size: 40px;
    letter-spacing: 2px;
    padding: 75px 0 0;
    text-align: center;
}

#aPopUpLeft a {
    color: #FFF;
    text-decoration: none;
    text-align: center;
}

#aPopUpLeft .work-site {
    display: block;
    margin: 37.50px 0 37.50px;
}

#aPopUpLeft p {
    color: #FFF;
    font-size: 16px;
    line-height: 23px;
    margin: 0 0 32px 0;
    padding: 0 20px;
}

#aPopUpRight {
    right: 0;
}

#aPopUpRight a {
    display: block;
    overflow: hidden;
    text-align: center;
    height: 175px;
}

#aPopUpRight .img {
    margin: 24px 17.5px 0;
    width: 290px;
    height: 150px;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

#aPopUpRight .img:hover {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

/* aPopUp - Work Relative */

#aPopUp.search-company h3 {
    line-height: 40px;
    padding-top: 25px;
}

#aPopUp.Chronos #aPopUpLeft p {
    margin: 0 0 14px 0;
}

#aPopUp.search-company #aPopUpLeft p {
    margin: 0 0 17px 0;
}

#aPopUp.search-company #aPopUpRight a, #aPopUp.Chronos #aPopUpRight a {
    height: 100%;
}

#aPopUp.Chronos #aPopUpRight a {
    margin-top:62px;
}

#aPopUp.search-company #aPopUpRight a {
    margin-top:95px
}

/* Animations */

#ls-switch:active {
    transform: translate(0, 20px);
}


/* Link Colours */

.b-l {
    color: #38b9be;
    text-decoration: none;
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
}

/* Fonts */

.droid {
    font-family: 'Droid Sans', sans-serif;
}

.open-sans {
    font-family: 'Open Sans', sans-serif;
}


/* Special Effects Style */

.tShadow {
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 1);
}

.shadow {
    background: #FFF;
    width: 100%;
    height: 20px;
}

#top-header .shadow {
    bottom: 0;
    box-shadow: 0px -4px 60px rgba(0, 0, 0, 0.4);
}


/* Position Styles */

.pos-ab {
    position: absolute;
}

.pos-rel {
    position: relative;
}

.pos-fix {
    position: fixed;
}


/*Temporary Styles*/

.hide {
    display: none;
}

.bg-grey {
    background: #CCC;
}

.t-b {
    border-left: 1px solid #000;
    border-right: 1px solid #000;
}


/* Media Queries */

@media only screen and (min-device-width: 375px) and (max-device-width: 667px),
(min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait), (min-device-width: 640px) and (min-device-height: 360px) and (min-resolution: 200dpi) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
    
    #main-icon {
        display:none;
    }
    
    .b-sect {
        min-width: 980px;
    }
    
    .container {
        margin: 0;
        min-width: 980px;
        width: 980px;
    }
    
    #top-header {
        min-width: 980px;
    }
    
    #top-header h2 {
        font-size: 40px;
        margin-left:-230px;
        width: 500px;
    }
    
    #s-icons li {
        display:block;
        margin-right:20px
    }
    
    #s-icons li a {
        background-size: 180px 85px;
        opacity:1;
        width:85px;height:100px;
    }
    
    #s-icons li.email a {
        background-position:-91px 0;
    }
    
    #info {
        padding-bottom:40px;
    }
    
    #info .box {
        display: block;
        margin: 0 auto;
        padding: 40px 0;
        width: 75%;height:520px;
    }
    
    #info section h3 {
        padding-top:40px;
        font-size:100px;
    }
    
    #info section p, #my-work .sub-text {
        font-size: 30px;
        line-height: 65px;
    }
    
    #info .b-l {
        font-size:40px;
    }
    
    #info #debug.box {
        margin-bottom:50px;
    }
    
    #my-work .sub-text {
        width:500px;
    }
    
    #about h2,
    #about p {
        margin: 12px auto 60px;
        position: relative;
    }
    
    #about h2, #my-work h2 {
        font-size:100px;
        line-height:110px;
        margin-bottom:140px;
        width:400px;
    }
    
    #about p {
        font-size:30px;
        line-height:60px;
    }
    
    #about p:last-child {
        margin-bottom: 0px;
    }
    
    #my-work .container {
        height: auto;
    }
    
    #my-work h2,
    #my-work .sub-text,
    #my-work .work-container {
        margin: 0 auto 70px;
        position: relative;
        top: 0;
        left: 0;
        right: 0;
    }
    
    #my-work .work-container {
        margin-bottom: 0;
        width:700px;height:1300px;
    }
    
    #my-work .work-container img {
        width:700px;
    }
    
    #my-work .work-piece p {
        font-size: 25px;
        line-height: 35px;
        margin-top: 155px;
    }
    
    #my-work #Chronos p {
        margin-top: 175px;
    }
    
    /* Nav Bar */
    #mobNavIcon {
        margin-left:10px;
        padding:30px 40px 30px 30px;
        position:fixed;
        transition:0.4s;
        z-index:101;
    }
    
    #main-nav.change {
        margin-left:0;
    }
    
    .bar {
        background:#FFF;
        border-radius:2px;
        box-shadow: 0px 0px 25px #38b9be;
        margin:12px 0;
        transition:0.4s;
        width:85px;height:12px;
    }
    
    #mobNavIcon.change {
        margin-left: 11.5%;
    }
    
    .change .bar {
        box-shadow: 0px 0px 0px #38b9be;
    }

    .change .bar1 {
        -webkit-transform: rotate(-45deg) translate(-22px, 20px);
        transform: rotate(-45deg) translate(-22px, 20px);
    }

    .change .bar2 {
        opacity: 0;
    }

    .change .bar3 {
        -webkit-transform: rotate(45deg) translate(-14px, -10px) ;
        transform: transform: rotate(45deg) translate(-14px, -10px);
    }
      
    #main-nav {
        background: #38b9be;
        border-right: 1px solid #FFF;
        box-shadow: 0px 0px 200px rgba(0, 0, 0, 0.75);
        margin-left:-500px;
        position: fixed;
        left: 0;
        z-index: 100;
        width:375px;
    }
    
    #main-nav span {
        display: block;
        color: #FFF;
        font-size: 150px;
        line-height: 200px;
        margin: 100px auto 75px;
        opacity: 0.7;
        text-align: center;
        width: 300px;
        height: 200px;
    }
    
    #main-nav ul {
        margin: 0;
        padding-top:150px;
    }
    
    #main-nav li {
        border-top: 1px solid #FFF;
        display: block;
    }
    
    #main-nav li a {
        display: block;
        font-size: 40px;
        padding: 40px 30px;
    }
    
    #main-nav li:after {
        display: none;
    }
    #main-nav li:last-child {
        border-bottom: 1px solid #FFF;
    }
    #aPopUp {
        left: 0;
        width: 100%;
        height: 835px;
    }
    #aPopUp.change {
        height: 100%;
        margin: 0;
        top: 0;
    }
    #aPopUp div.pos-ab {
        position: relative;
        height: 50%;
        width: 100%;
    }
    #aPopUpLeft, #aPopUpRight {
        min-height:871.5px;
    }
    #aPopUpLeft p {
        font-size: 40px;
        line-height: 55px;
        margin: 0 0 6% 0;
    }
    #aPopUp.Chronos #aPopUpLeft p {
        margin: 0 0 3% 0;
    }
    #aPopUp.search-company #aPopUpLeft h3 {
        font-size: 60px;
        line-height: 60px;
    }
    #aPopUp.search-company #aPopUpLeft a {
        margin-top: 40px;
    }
    #aPopUp.search-company #aPopUpLeft p {
        margin: 0 0 3.4%;
    }
    #aPopUpRight a {
        height: 270px;
    }
    
    #aPopUp.search-company #aPopUpRight a, #aPopUp.Chronos #aPopUpRight a {
        height: 100%;
        margin-top:0;
    }
    
    #aPopUpRight .img {
        margin: 24px 17.5px 0;
        width: 95%;
        -moz-transition: all 0.3s;
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
    }
    #aPopUpLeft h3 {
        font-size: 100px;
    }
    
    #aPopUpLeft .work-site {
        font-size: 30px;
        margin-top: 70px;
    }
    
    #aPopUpClose {
        font-size: 40px;
        bottom: 0;
        width: 100px;
        height: 100px;
        border: 1px solid #000;
        border-right: 0;
        border-bottom: 0;
    }
    
    /* Technologies */
    
    #my-technologies {
        padding: 0 0 40px 0;
    }
    
    #my-tech-container {
        height:auto;
    }
    
    #my-tech-container .tech-bar-cont {
        display: block;
        width: 100%;
        height: 100px;
    }
    
    #my-tech-container .tech-bar-cont h5 {
        margin-top: -30px;
        text-align: left;
        font-size: 32px;
        top: 0;
    }
    
    #my-tech-container .tech-bar {
        background: #FFF;
        border-radius: 2px;
        box-shadow: 0px 2px 10px rgba(0, 0, 0, 1);
        left: 0;
        margin-left: 0;
        overflow: hidden;
        width: 100%;
        height: 25px;
    }
    
    #my-tech-container .tech-bar-fill {
        background: #a4b8b9;
        bottom: 0;
        width: 0%;
        height: 100%;
    }
    
    #contact-me form {
        left: 0;
        margin: 40px 0 0;
        margin: 0 auto;
        width: 800px;
    }
    
    #contact-me input, #contact-me textarea {
        font-size: 30px;
    }
    
    #contact-me input {
        height:75px;
    }
    
    #contact-me .btn {
        width: 820px;height: 100px;
    }
    
}

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: landscape),
(min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape), (min-device-width: 640px) and (min-device-height: 360px) and (min-resolution: 200dpi) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape)  {
    
    #main-nav {
        width:375px;height:100%;
    }
    
    #main-nav ul {
        position:absolute;
        bottom:0;
        width:100%;
    }
    
    #main-nav li a {
        padding:8% 0 8% 30px;
    }
    
    #mobNavIcon {
        z-index: 99;
    }
    
    #mobNavIcon.change {
        margin-left:25px;
    }

    #aPopUp div.pos-ab {
        position: absolute;
        width: 50%;height: 100%;
    }
    
    #aPopUpLeft {
        left:0;
    }
    
    #aPopUpRight {
        right:0;
    }
    
    #aPopUp.change {
        margin:0;
        top:0%;
        height:100%;
    }
    
    #aPopUpLeft p {
        font-size: 20px;
        line-height: 28px;
        margin: 0 0 15px 0;
    }
    
    #aPopUpRight a {
        height: 176px;
    }
    
    #aPopUp.Chronos #aPopUpLeft p {
        margin: 0 0 10px 0;
    }
    
    #aPopUp.Chronos #aPopUpRight a, #aPopUp.search-company #aPopUpRight a {
        height: 525px;
    }
    
    #aPopUp.search-company #aPopUpLeft p {
        margin: 15px 0;
        line-height: 27px;
    }
    
    #aPopUpClose {
        border: 1px solid #000;
        border-right: 0;
        border-bottom: 0;
        width: 75px;height: 75px;
    }
    
    #aPopUp.search-company #aPopUpLeft a {
        margin: 20px 0;
    }
    
}